/* .App {
  text-align: center;
  background-color: rgb(168, 160, 160);
} */

/* .main{
  background-color: rgb(6, 74, 133);
  padding: 5px;
  width: 200px;
  margin: auto;
  text-align: center;
} */

.button:enabled {
  background-color: #ca6060; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

button:disabled{
  background-color: #ced119; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}